.signUp {
  text-align: center;
  width: 60%;
  height: 100%;
  border: 1px solid black;
  box-shadow: 4px 8px;
  margin: 1.5% 0 0 250px;
  padding-top: 1.8%;
}

.form-bottom{
  display: flex;
  flex-direction: row;
}

.waves-effect.waves-teal.btn-flat{
    flex: 1;
}

.form-bottom div{
    flex: 1;
}
