.item{
  width: 100%;
  display: flex;
  justify-content: center;
}

.item a{
  display: flex;
  justify-content: center;
  color: #282c34;
  font-size: 1.3vw;

  &:hover{
    color: black;
    font-weight: bold;
  }
}

.sub-category{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
