.product-list{
  margin: 2% 0;
}

.product{
    padding: 20px;
}

.product-row{
  display: flex;
  flex-direction: column;
}

.loading{
    display: flex;
    width: 100%;
    justify-content: center;
}

.progress{
  background-color: #7579e7;
  width: 35%;
  position: absolute;
  top :0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  .indeterminate{
    background: #9d0191;
  }
}

.pagination{
  width: 100%;
  display: flex;
  justify-content: center;

  & li{
    background-color: #9d0191;
    color: yellow;
  }
}

.ui-grid{
  margin: 100px 0;
}
