.category{
    font-size: 3.5vh;
    width: 100%;
    height: 100%;
}

.ui.compact.menu{
    width: 100%;
}

.ui.simple.dropdown.item{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #9d0191;
    font-size: 2vh;
}
