@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

.category{
    width: 100%;
    height: 100%;
}

.ui.compact.menu{
    font-family: "Clicker Script", cursive;
    width: 100%;
}

.ui.simple.dropdown.item{
    display: flex;
    justify-content: center;
    color: #282c34;
    font-weight: bold;

    &:hover{
        font-weight: bold;
    }
}
