@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

.navbar{
    max-width: 100%;
    height: 97px;
    //font-family: "Clicker Script" , cursive;
    background-color: #89c9b8;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shopping.cart{
    color: white;
    cursor: pointer;
}

.shopping.cart span{
    padding: 0 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}


.navbar img{
    margin-left: 35%;
    width: 100%;
    height: auto;
}

.navbar a{
    font-size: 1.3vw;
    font-weight: bold;
    width: 10%;
    margin: 0 2% 0 2%;
    color: #f9f9f9;
}

.navbar a:hover{
    color: white;
    font-weight: bolder;
    transform: scale(1.01,1.02);
    transition-duration: 200ms;
}

#first{
    margin-left: 10%;
}

#image{
    width: 14%;
}
