.nav-wrapper{
    //background-image: linear-gradient(to right ,#9d0191 10%,#7579e7 90%);
    //background-color: #3B55CE ;
  background-color: white;
  border-radius: 20px;

}

.label-icon{
    margin-top: -1.4%;
}

.material-icons{
  margin-top: -1.4%;
}

.search{
  border-radius: 22px;
  width: 30%;
  height: 55%;
  margin-left: 15%;
}
