.signIn{
  text-align: center;
  width: 400px;
  height: 480px;
  border: 1px solid black;
  box-shadow: 4px 8px;
  margin: 100px 0 0 440px;

  h2{
    padding-top: 15px;
  }

  Form{
    padding-bottom: 20px;
  }

  p{
    padding-top: 50px;
  }

}
