.signIn{
  text-align: center;
  width: 400px;
  height: 480px;
  border: 1px solid black;
  box-shadow: 4px 8px;
  margin: 2% 0 0 35%;

  h2{
    padding-top: 8%;
  }

  p{
    padding-top: 10%;
  }

}
